    <header>
      <div class="header_container">
        <img src="/Rubik_cube.png" alt="cube_logo" />
        <h1 class="site_title">Cube Inventory</h1>
        <form class="header_search" action="/search" method="GET">
          <label for="cubeSearch"> Search:</label>
          <input type="text" name = "search" id="cubeSearch" />
          <button>Search</button>
        </form>
      </div>
    </header>